<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.ptcim.com4j.Com4jPtcimModel"
            dialog="org.eclipse.epsilon.emc.ptcim.dt.PtcimModelConfigurationDialog"
            icon="images/ptc.gif"
            label="PTC IM Model"
            stable="true"
            type="PTC IM Model">
      </modelType>
   </extension>
   <!--extension
         point="org.eclipse.epsilon.common.dt.modelElementLocator">
      <modelElementLocator
            class="org.eclipse.epsilon.emc.ptcim.dt.PtcimModelElementLocator">
      </modelElementLocator>
   </extension-->
</plugin>
